<div class="column sidebar">
  <nav class="panel">
    <p class="panel-heading has-text-white">Who to Follow</p>

    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="gravatar-img is-32x32">

          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>

            </p>
          </div>
        </div>
      </article>
    </div>

  </nav>
</div>