<div class="column is-one-quarter top-alligned">
  <nav class="panel">
    <p class="panel-heading has-text-white">Trends</p>
    <a class="panel-block has-text-white">
      Trend 1
    </a>
    <a class="panel-block has-text-white">
      Trend 2
    </a>
    <a class="panel-block has-text-white">
      Trend 3
    </a>
    <a class="panel-block has-text-white">
      Trend 4
    </a>
    <a class="panel-block has-text-white">
      Trend 5
    </a>
    <a class="panel-block has-text-white">
      Trend 6
    </a>
  </nav>
</div>