<p>
  <strong>Title:</strong>
  <%= @whispr.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @whispr.description %>
</p>

<%= link_to 'Edit', edit_whispr_path(@whispr) %> |
<%= link_to 'Back', whisprs_path %>
